.btn-fw {
    width: 100%;
    justify-content: space-between;
}
p {
    margin: 0 !important;
}
.main-form{
    padding: 25px;
    border-radius: 20px;
}
.hp-main-layout-content{
    overflow: hidden;
}
.scrolable {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 30px;
}
.form-slide-container{
    display: flex;
    position: relative;
    transition: 0.4s;
    left: 0;
}
.form-slide{
    display:flex;
    justify-content:space-evenly;
    align-items:space-between;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 450px;
    min-width: 100%;
    transition: 0.4s;
    box-suppress: hide;
    position: absolute;
    transform: translateX(150%);
}
.active-form-slide{
    transform: translateX(0);
}
.left-form-slide{
    transform: translateX(-150%);
}
.form-slide-footer{
    display:flex;
    justify-content: flex-end;
    align-items:center;
    position: relative;
    gap: 30px;
    margin-top: 30px;
}
.sub-txt {
    text-align: center;
}
.hidden-xs-up{
    display: none;
}
.input-file-button .btn {
    position: relative;
}
.file-name {
    display: block;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-center {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap:30px;
}
span.text i {
    font-size: 20px;
}
.table td{
    font-size: 18px;
}
.status-bg {
    display: block !important;
    border-radius: 20px;
    padding: 0 !important;
    font-size: 0 !important;
    width: 20px;
    height: 20px;
}
.uploads_sections .slider-cont {
    width: 40% !important;
    margin: 0 auto;
}

.text i:before
 {
    position: relative;
    top: 3px;
}
.fieldGroup {
    margin-bottom: 6px;
}
.slider-cont {
    display: flex;
    justify-content: center;
}
textarea#message-text {
    line-height: inherit;
    height: 145px !important;
}
.field_text_center{
    text-align: center;
}
.add_link_text{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
}
.left-inputs label,
.right-inputs label {
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px;
}
textarea {
    resize: none;
}
textarea#Comments {
    height: 135px;
    border-radius: 10px !important;
}
.modal-backdrop {
    position: inherit;
}
.modal-content{
    box-shadow: 0px 0px 20px 5px #daddff;
}
.tabel_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.tabel_top_left {
    padding-left: 14px;
}
.table > thead {
    vertical-align: middle;
}
input#selectall {
    margin-right: 5px;
}
input#selectall {
    margin-top: 11px;
}
.campbtn {
    margin: 0 5px;
}
.flex-row div {
    display: flex;
    gap: 13px;
    align-items: center;
}
.flex-row div span {
    margin-top: 5px;
}
.extlinkstatus .status-bg {
    margin-top: 0;
}
.global_table ::-webkit-scrollbar {
    width: 5px;
}
.global_table ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
.global_table ::-webkit-scrollbar-thumb {
    background: #0010f7; 
    border-radius: 10px;
}
/*.table-scrollable {
    height: 300px;
    overflow-y: auto;
}
.collapse .table-scrollable {
    height: 200px;
}*/
.collapse{
    position: fixed;
    width: 99%;
    left: 0;
}
table.table.collapse_table {
    background: #f0f2f5;
}
thead.collapse_header {
    display: none;
}
tbody.collapse_body tr:first-child {
    border-top: 1px solid #dfe6e9;
}
th, td {
   border: 1px solid #dfe6e9;
}
table.table.collapse_table {
    height: 175px;
}
.collapse_table ::-webkit-scrollbar {
    width: 2px;
}
.collapse_table ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
.collapse_table ::-webkit-scrollbar-thumb {
    background: #0010f7; 
    border-radius: 10px;
}
i.hp-text-color-dark-0.ri-2x.ri-arrow-down-s-line {
    line-height: 0;
    position: relative;
    font-size: 1.5em;
    margin-left: 15px;
}
i.hp-text-color-dark-0.ri-2x.ri-arrow-down-s-line:before {
    content: "\ea4e";
    position: absolute;
    top: 17px;
}
.single_colaps {
    display: contents !important;
}

.child, .childtextextlink, .childtextlink, .childtextLps {
    background: #fff;
    display: none;
  }
  .btn-center .forms-items {
    width: 100%;
}
.childtextlinkItems {
    display: flex;
    justify-content: space-between;
}
.childtextLpsItems {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tabel_bottom_cont {
    display: flex;
    justify-content: space-between;
}
.forms-items label {
    margin: 15px 0;
}
.childitem p b {
    margin-right: 10px;
}
.forms-items h5 {
    margin-top: 60px;
}
.table td {
    font-size: 14px;
}
.rowhaeder {
    background: #fff;
}

.rowhaeder td {
    padding: 5px 15px;
}
.form-check.form-switch {
    display: flex;
    gap: 30px;
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-title h4 {
    margin: 0;
    padding: 0;
}

.card-title {
    margin: 0;
}
.card-body.all-copmain-card {
    padding: 0;
    margin: 0;
}
.card-content {
    padding: 20px;
}
.card-content {
    display: flex;
    align-items: center;
}
.card-content-static {
    width: 55%;
    border-right: #636e72 solid 1px;
}

.card-content-grafic {
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hp-card-250 {
    min-height: 325px;
}
.add-new-comp-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
a.add-new-actions {
    font-size: 30px;
    color: #636e72;
}

a.add-new-actions:hover {
    color: #0010f7;
}
.header-gap{
    gap:30px;
}
.links-fields {
    display: flex;
    justify-content: space-between;
}
.links-fields .field_text_center {
    width: 49%;
}
textarea.form-control {
    min-height: calc(13.715em + 2px);
}
@media screen and (max-width:767px) {
    .btn-center {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .flex-form-container.btn-center button {
        margin-bottom: 20px;
    }
    .form-slide.active-form-slide {
        width: 100%;
    }
    .left-inputs, .right-inputs {
        width: 100%;
    }
    .main-form {
        padding: 15px;
        overflow-y: auto;
    }
    .form-slide-footer {
        justify-content: center;
        gap: 5px;
        margin-top: 20px;
    }
    .global_table {
        height: auto;
    }
    .collapse_table {
        height: auto;
    }
    .table-scrollable {
        height: auto;
        overflow-y: auto;
    }
    .collapse .table-scrollable {
        height: auto;
    }
} 